.navbar {
    width: 85vw;
    /* padding: 10px 0px; */
    /* text-align: left; */
    display: flex;
    gap: 80px;
    position: relative;
    border: rgb(0, 0, 0) solid 5px;
    /* z-index: 10; */
    background: rgb(19, 64, 82) 5px;
    margin: 1vh 0vw 1vh 0vw;
}

/* .navbar>*:first-child {
    left: 20px;
} */

.navbar-links {
    text-decoration: none;
    color: white;
    font-style: bold;
    font-size: 16pt;
    padding: 1vh;
    /* margin: 0 3vw; */
    background: rgb(19, 64, 82) 5px;
}

.login-link {
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: 16pt;
    margin-left: 10px;
    padding: 1vh;
    background: rgb(228, 234, 236) 5px;
    border-radius: 30px
}

.active-nav {
    color: rgb(0, 0, 0);
    padding: 1vh;
    background: rgb(155, 230, 233);
}

.flex-container {
    display: flex;
    max-width: 95vw;
    flex-wrap: wrap;
    background-color: rgb(213, 247, 255)
}

.contribution {
    display: grid;
    width: 150px;
    margin: 10px;
    /* align-content: center; */
}

.grid-container{
    display: inline-grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 15px;
    padding-left: 10px;
}

.sidebar{
border: black solid 5px;
}

.sidebar > *{
margin-left: 5%;
}

.infoWindow {
    text-align: center;
}